@model TasksProgram.Models.Task

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Новая заметка</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Title)
    <br />
    @Html.EditorFor(m => m.Title)

    @Html.LabelFor(m => m.Record)
    <br />
    @Html.EditorFor(m => m.Record)
    <br /><br />
    <input type="submit" value="Добавить" />
}