@using TasksProgram.Models;
@model IEnumerable<Task>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="table-striped">
        @foreach (Task task in Model)
        {
            <td>
                <div class="row">
                    <tr><p>@task.Title</p></tr>
                    <tr><p>@task.Record</p></tr>
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Редактировать", "EditTask", new { id = task.ID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Удалить", "Delete", new { id = task.ID }, new { @class ="btn btn-danger" })
                    </div>
                </div>
                <br />
            </td>
    }
</div>