@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Планировщик</title>
</head>
<body>
    <div>
        <h3>Заметки</h3>
        @foreach (TasksProgram.Models.Task b in Model)
        {
            <td>
                <tr><p>@b.Title</p></tr>
                <tr><p>@b.Record</p></tr>  
            </td>
        }
    </div>
</body>
</html>